/*cabecalho*/

a {
    color: var(--branco);
    text-decoration: none;
}

.cabecalho {
    background-color: var(--azul-escuro);

    display: flex;
    /*por padrao o flex vem na  direcao row/linha*/
    /*flex-directiom: row;*/
    justify-content: space-between;

    align-items: center;

    padding: 0 120px;

    height: 10vh;
    /* 10% de vsiu vertical do dispostivo/navegador*/
}

.navegacao {
    display: flex;
    align-items: center;

    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    /*1rem -> equivale a 16px (padrao da raiz do HTML*/
    /*em -> pega o tamanho da tipografia do elemento pai*/
    font-size: 1em;
    font-weight: 500;
}

/*conteudo principal*/

/*Primeiro banner*/

.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    /* backgroun-repeat: no-repeat;*/

    /**/

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;

}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 50%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

.botao:hover {
background-color: #2ab2ab;
color: var(--branco);
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

/*titulo das seçoes*/

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);

}

/*secao beneficios*/

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    
    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);

    gap: 10%;

    justify-content: center;
}

.beneficio {
display: flex;
flex-direction: column;

align-items: center;
justify-content: center;

padding: 80px 20px 50px; /*em cime -> direita e esquerda -> emabaixo*/

border: 1px solid var(--azul-escuro);
border-radius: 30px;
box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25); /* x -> blur(desfoque) -> cor cm transparencia*/

text-align: center;
/*cria referencia de posicionamento para icone, quando o icone for posicionado usa esse card como referencia*/
/*sem isso o circulo poderia usar outro elemento da pagina como referencia e sair passeando pelo layout*/ 
position: relative;
}

.beneficio-icone img {
    width: 50%;

}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
background-color: var(--branco);
border-radius: 50%;

width: 30%;
height: 30%;

/*retira o icone do fluxo normal, com o absoluto ele pode ficar por cima do card*/
position: absolute;

top: -15%;
/*move o elemento pra cima, o valor negativo faz ele sair participando do card*/

left: 50%;
/*coloca o comeca eleemnto em 50% da lagura do card*/

transform: translateX(-50%);
/*ajustamos o começo do eleemnto, mas a borda esquerda do circlo fica no centro, nao o icrculo ineiro*/

display: grid;
place-items: center;
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;

}

.beneficio p {
font-size: 1em;
width: 80%;
}

.banner-meio {
    height: 60vh;

    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);
}