/*cabecalho*/

a {
    color: var(--branco);
    text-decoration: none;
}

.cabecalho {
    background-color: var(--azul-escuro);

    display: flex;
    /*por padrao o flex vem na  direcao row/linha*/
    /*flex-directiom: row;*/
    justify-content: space-between;

    align-items: center;

    padding: 0 120px;

    height: 10vh;
    /* 10% de vsiu vertical do dispostivo/navegador*/
}

.navegacao {
    display: flex;
    align-items: center;

    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    /*1rem -> equivale a 16px (padrao da raiz do HTML*/
    /*em -> pega o tamanho da tipografia do elemento pai*/
    font-size: 1em;
    font-weight: 500;
}

/*conteudo principal*/

/*Primeiro banner*/

.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    /* backgroun-repeat: no-repeat;*/

    /**/

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;

}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 50%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

.botao:hover {
background-color: #2ab2ab;
color: var(--branco);
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}